product.xml

<!ELEMENT products (product+)>
<!ELEMENT product (name, partsno, price?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT partsno (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ATTLIST product partsno ID #REQUIRED>
<!ATTLIST price value CDATA #IMPLIED "open">

<product>
<to> Amazon </to>
<from> Google </from>
<heading> Monthly sale </heading>
<body> Dont forget to buy products on this sale </body>
</product>