schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="myMessage">
<xs:complexType>
<xs:sequence>
<xs:element name="greeting" type="xs:string"/>
<xs:element name="message" type="xs:string" maxOccurs="unbounded"/>
<xs:element name="note" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>

</xs:schema>